*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    color: red;
}

.global-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 250px);
    gap: 2rem;
}